body,html {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

h1 {
    margin: 0 0 10px 0;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 30px;
    cursor: pointer;
    background: #3071A9;
    border-radius: 5px;
    border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    border: 1px solid #000000;
    height: 28px;
    width: 10px;
    border-radius: 1px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range] {
    background: #3071A9;
    margin: 5px;
    height: 30px;
    -webkit-appearance: none;
}

div {
    margin: 0;
    overflow: hidden;
}

div#frame {
    border: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    display: grid;
}

@media (orientation:portrait) {
    div#frame {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .landscape-only { display: none }
}

@media (orientation:landscape) {
    div#frame {
        grid-template-columns: 3fr max-content;
        grid-template-rows: 1fr;
    }
}

div#emoticon {
}

div#control {
    overflow-y: scroll;
}

#shortcuts {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button {
    border-radius: 4px;
    background-color: #3071A930;
    width: 100%;
    padding: 1ex;
    font-size: 14px;
}

a {
    text-decoration:none;
    color: black;
}