body,html {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

h1 {
    margin: 0 0 10px 0;
}

h1.clickable:not(.inactive) {
    text-decoration : underline;
}

h1.inactive ~ * {
    display : none;
}

div {
    padding: 10px;
    margin: 0;
    overflow: hidden;
}

div#emoticon {
    width: 60%;
    flex-grow: 0;
}

div#frame {
    border: 0;
    width: 100hw;
    height: 100vh;
    padding:0px;
    display:flex;
    flex-direction:row;
}

div#control {
    display: flex;
    flex-direction: column;
}

div#shortcuts td {
    padding: 3px;
    margin: 2px;
    background-color: lightgray;
}

a {
    text-decoration:none;
    color: black;
}