<html>
<head>
    <meta content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link rel="canonical" href="https://paramoji.org/editor.html"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="icon" href="https://paramoji.org/paramoji.svg.php?v=100&amp;a1=100&amp;a2=100&amp;d=50&amp;c=0">
    <meta property="og:image" content="https://paramoji.org/paramoji.svg.php?v=72&amp;a1=98&amp;a2=36&amp;size=600">
    <script src="./lib/vue.global.js"></script>
    <script src="action.js" type="module"></script>
    <title>Paramoji Editor</title>
</head>
<body class="no-margin">
<div id="app" class="paramoji-editor">
    <nav class="nav"><a class="nav-brand" href="index.html">Paramoji</a>
      <button class="nav-toggle" @click="menuOpen = !menuOpen" aria-label="Menu">&#9776;</button>
      <div class="nav-links" :class="{open: menuOpen}"><a class="active" href="editor.html">Editor</a><a href="gallery.html">Gallery</a><a href="developers.html">Developers</a><a href="about.html">About</a></div>
    </nav>
    <div id="emoticon" :class="lightdark">
        <div class="space" v-html="paramoji()"></div>
    </div>
    <div id="control">
        <div id="dimensions">
            <div class="button-row">
                <button @click="random()">Random</button>
                <button @click="animateTo(neutralState(model))">Reset all</button>
            </div>
            <div id="sliders">
                <template v-if="['ao','a1a2'].includes(model)">
                    <div class="row">
                        <div>Pleasure</div>
                        <div><input class="slider" type="range" v-model="state.v"/></div>
                        <div><span id="label-v">{{fmt(state.v)}}</span></div>
                    </div>
                    <div class="row">
                        <div>Dominance</div>
                        <div><input class="slider" type="range" v-model="state.d"/></div>
                        <div><span id="label-p">{{fmt(state.d)}}</span></div>
                    </div>
                    <div class="row" v-show="model=='a1a2'">
                        <div>Arousal 1</div>
                        <div><input class="slider" type="range" v-model="state.a1"/></div>
                        <div><span id="label-a1">{{fmt(state.a1)}}</span></div>
                    </div>
                    <div class="row" v-show="model=='a1a2'">
                        <div>Arousal 2</div>
                        <div><input class="slider" type="range" v-model="state.a2"/></div>
                        <div><span id="label-a2">{{fmt(state.a2)}}</span></div>
                    </div>
                    <div class="row" v-show="model=='ao'">
                        <div>Arousal</div>
                        <div><input class="slider" type="range" v-model="vstate.a" @input="updateVState()"/></div>
                        <div><span id="label-a">{{fmt(vstate.a)}}</span></div>
                    </div>
                    <div class="row" v-show="model=='ao'">
                        <div>Control</div>
                        <div><input class="slider" type="range" v-model="vstate.o" @input="updateVState()"/></div>
                        <div><span id="label-o">{{fmt(vstate.o)}}</span></div>
                    </div>
                    <div class="row">
                        <div>Disgust</div>
                        <div><input class="slider" type="range" v-model="state.g"/></div>
                        <div><span>{{fmt(state.g)}}</span></div>
                    </div>
                    <div class="row">
                        <div>Contempt</div>
                        <div><input class="slider" type="range" v-model="state.c"/></div>
                        <div><span id="label-c">{{fmt(state.c)}}</span></div>
                    </div>
                    <div class="row">
                        <div>Blush</div>
                        <div><input class="slider" type="range" v-model="state.b"/></div>
                        <div><span id="label-b">{{fmt(state.b)}}</span></div>
                    </div>
                    <div class="row">
                        <div>Tears</div>
                        <div><input class="slider" type="range" v-model="state.t"/></div>
                        <div><span id="label-b">{{fmt(state.t)}}</span></div>
                    </div>
                    <div class="row">
                        <div>Blink</div>
                        <div><input class="slider" type="range" v-model="state.blink_rate"/></div>
                        <div><span id="label-blink">{{fmt(state.blink_rate)}}</span></div>
                    </div>
                    <div class="row">
                        <div>Speak</div>
                        <div><input class="slider" type="range" v-model="state.speak_rate"/></div>
                        <div><span id="label-speak">{{fmt(state.speak_rate)}}</span></div>
                    </div>
                    <div class="row">
                        <div>Invert</div>
                        <div><input class="slider" type="range" v-model="state.invert"/></div>
                        <div><span id="label-invert">{{fmt(state.invert)}}</span></div>
                    </div>
                </template>
                <template v-if="model=='e'">
                    <div class="row">
                        <div>Pleasure</div>
                        <div><input class="slider" type="range" v-model="estate.v" @input="updateEState()"/></div>
                        <div><span>{{fmt(estate.v)}}</span></div>
                    </div>
                    <div class="row">
                        <div>Dominance</div>
                        <div><input class="slider" type="range" v-model="estate.d" @input="updateEState()"/></div>
                        <div><span>{{fmt(estate.d)}}</span></div>
                    </div>
                    <div class="row">
                        <div>Control</div>
                        <div><input class="slider" type="range" v-model="estate.o" @input="updateEState()"/></div>
                        <div><span>{{fmt(estate.o)}}</span></div>
                    </div>
                    <div class="row">
                        <div>Arousal</div>
                        <div><input class="slider" type="range" v-model="estate.a" @input="updateEState()"/></div>
                        <div><span>{{fmt(estate.a)}}</span></div>
                    </div>
                    <div class="row">
                        <div>Contempt</div>
                        <div><input class="slider" type="range" v-model="estate.c" @input="updateEState()"/></div>
                        <div><span>{{fmt(estate.c)}}</span></div>
                    </div>
                </template>
                <div class="spacer"></div>
                <div class="row">
                    <div>Model</div>
                    <div class="span2">
                        <select v-model="model">
                            <option value="a1a2">Carthesian</option>
                            <option value="ao">Theoretical</option>
                            <option value="e">Empirical</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:20px"></div>
    </div>
</div>
</body>
</html>
