<html>
<head>
    <meta content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link rel="canonical" href="https://paramoji.org/editor.html"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="icon" href="https://paramoji.org/paramoji.svg.php?v=100&amp;a1=100&amp;a2=100&amp;d=50&amp;c=0">
    <meta property="og:image" content="https://paramoji.org/encode2.png">
    <meta property="og:image:width" content="879">
    <meta property="og:image:height" content="581">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="paramoji.js"></script>
    <script src="schematic.js"></script>
    <script src="action.js"></script>
    <title>Paramoji Editor</title>
</head>
<body class="no-margin">
<div id="app" class="paramoji-editor">
    <div id="emoticon">
        <div class="space" v-html="paramoji()"></div>
    </div>
    <div id="control">
        <div id="dimensions">
            <h1>Controls</h1>
            <div class="button-row">
                <button @click="random()">Random</button>
                <button @click="animateTo(neutralState())">Reset all</button>
                <button @pointerdown="blink=true" @pointerup="blink=false" @pointerleave="blink=false">Blink</button>
            </div>
            <div style="height: 10px"></div>
            <table id="sliders" width="100%">
                <tr>
                    <td>Model</td>
                    <td colspan="2">
                        <select v-model="model">
                            <option value="a1a2">Carthesian</option>
                            <option value="ao">Theoretical</option>
                            <option value="e">Empirical</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Style</td>
                    <td colspan="2">
                        <select v-model="style">
                            <option value="comic">Comic</option>
                            <option value="schematic">Schematic</option>
                        </select>
                    </td>
                </tr>
                <tr style="height: 10px"></tr>
                <template v-if="['ao','a1a2'].includes(model)">
                    <tr>
                        <td>Pleasure</td>
                        <td><button @click="animateTo({v:50})">&times;</button></td>
                        <td>
                            <input class="slider" type="range" v-model="state.v"/>
                        </td>
                        <td width="30em"><span id="label-v">{{fmt(state.v)}}</span></td>
                    </tr>
                    <tr v-show="model=='a1a2'">
                        <td>Arousal 1</td>
                        <td><button @click="animateTo({a1:50})">&times;</button></td>
                        <td>
                            <input class="slider" type="range" v-model="state.a1"/>
                        </td>
                        <td><span id="label-a1">{{fmt(state.a1)}}</span></td>
                    </tr>
                    <tr v-show="model=='a1a2'">
                        <td>Arousal 2</td>
                        <td><button @click="animateTo({a2:50})">&times;</button></td>
                        <td>
                            <input class="slider" type="range" v-model="state.a2"/>
                        </td>
                        <td><span id="label-a2">{{fmt(state.a2)}}</span></td>
                    </tr>
                    <tr v-show="model=='ao'">
                        <td>Arousal</td>
                        <td><button @click="updateVState({a:50})">&times;</button></td>
                        <td>
                            <input class="slider" type="range" v-model="vstate.a" @input="updateVState()"/>
                        </td>
                        <td><span id="label-a">{{fmt(vstate.a)}}</span></td>
                    </tr>
                    <tr>
                        <td>Dominance</td>
                        <td><button @click="animateTo({d:50})">&times;</button></td>
                        <td>
                            <input class="slider" type="range" v-model="state.d"/>
                        </td>
                        <td><span id="label-p">{{fmt(state.d)}}</span></td>
                    </tr>
                    <tr v-show="model=='ao'">
                        <td>Control</td>
                        <td><button @click="updateVState({o:50})">&times;</button></td>
                        <td>
                            <input class="slider" type="range" v-model="vstate.o" @input="updateVState()"/>
                        </td>
                        <td><span id="label-o">{{fmt(vstate.o)}}</span></td>
                    </tr>
                    <tr>
                        <td>Contempt</td>
                        <td><button @click="animateTo({c:25})">&times;</button></td>
                        <td>
                            <input class="slider" type="range" v-model="state.c"/>
                        </td>
                        <td><span id="label-c">{{fmt(state.c)}}</span></td>
                    </tr>
                    <tr>
                        <td>Disgust</td>
                        <td><button @click="updateEState({g:25})">&times;</button></td>
                        <td>
                            <input class="slider" type="range" v-model="state.g"/>
                        </td>
                        <td><span>{{fmt(state.g)}}</span></td>
                    </tr>
                    <tr>
                        <td>Love</td>
                        <td><button @click="animateTo({l:0})">&times;</button></td>
                        <td>
                            <input class="slider" type="range" v-model="state.l"/>
                        </td>
                        <td><span id="label-l">{{fmt(state.l)}}</span></td>
                    </tr>
                </template>
                <template v-if="model=='e'">
                    <tr>
                        <td>Pleasure</td>
                        <td><button @click="updateEState({v:50})">&times;</button></td>
                        <td>
                            <input class="slider" type="range" v-model="estate.v" @input="updateEState()"/>
                        </td>
                        <td width="30em"><span>{{fmt(estate.v)}}</span></td>
                    </tr>
                    <tr>
                        <td>Dominance</td>
                        <td><button @click="updateEState({d:50})">&times;</button></td>
                        <td>
                            <input class="slider" type="range" v-model="estate.d" @input="updateEState()"/>
                        </td>
                        <td><span>{{fmt(estate.d)}}</span></td>
                    </tr>
                    <tr>
                        <td>Control</td>
                        <td><button @click="updateEState({o:50})">&times;</button></td>
                        <td>
                            <input class="slider" type="range" v-model="estate.o" @input="updateEState()"/>
                        </td>
                        <td><span>{{fmt(estate.o)}}</span></td>
                    </tr>
                    <tr>
                        <td>Arousal</td>
                        <td><button @click="updateEState({a:50})">&times;</button></td>
                        <td>
                            <input class="slider" type="range" v-model="estate.a" @input="updateEState()"/>
                        </td>
                        <td><span>{{fmt(estate.a)}}</span></td>
                    </tr>
                    <tr>
                        <td>Contempt</td>
                        <td><button @click="updateEState({c:25})">&times;</button></td>
                        <td>
                            <input class="slider" type="range" v-model="estate.c" @input="updateEState()"/>
                        </td>
                        <td><span>{{fmt(estate.c)}}</span></td>
                    </tr>
                </template>
            </table>
        </div>
        <div style="height:20px"></div>
    </div>
</div>
</body>
</html>
