@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300');

html {
    font-family: 'Commissioner', sans-serif;
    font-size: 1.5rem;
}
.title {
    font-weight: 900;
    color: coral;
}
h1,h2 {
    font-weight: 600;
}

li {
    margin-bottom: 0.5rem;
}

.no-margin {
    margin: 0;
    padding: 0;
}
body:not(.no-margin) {
    margin: 3%;
}

a {
    color: firebrick;
}

.mt-1 {
    margin-top: 10px;
}

.slider {
    width: 90%;
    min: 0;
    max: 100;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 30px;
    cursor: pointer;
    background: #3071A9;
    border-radius: 5px;
    border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    border: 1px solid #000000;
    height: 28px;
    width: 10px;
    border-radius: 1px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range] {
    background: #3071A9;
    margin: 5px;
    height: 30px;
    -webkit-appearance: none;
}

div {
    margin: 0;
    overflow: hidden;
}

div#app {
    border: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    display: grid;
}

@media (orientation:portrait) {
    #app {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #control {
        padding-right: 10px;
        padding-left: 10px;
    }
    .landscape-only { display: none }
}

@media (orientation:landscape) {
    #app {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
    }
    #control {
        padding-top: 5%;
    }
}

#emoticon {
    padding: 5%;
}
#emoticon svg {
    background-color: seashell;
}

#control {
    overflow-y: scroll;
    padding-right: 10px;
}

button {
    border-radius: 4px;
    background-color: #3071A930;
    width: 100%;
    padding: 1ex;
    font-size: 14px;
}


.page {
    display: grid;
    max-width: 1200px;
    grid-column-gap: 10px;
}
.twocol {
    grid-column: 1/3;
}
@media (max-width: 900px) {
    .page {
        grid-template-columns: 1fr;
    }
    .twocol {
        grid-column: 1/2;
    }
}
@media (min-width: 901px) {
    .page {
        grid-template-columns: 1fr 1fr;
    }
    .title {
        font-size: 3rem;
    }
}
.code {
    width: 100%;
    padding: 10px;
    background-color: #EEE;
    word-wrap: break-word;
}

.ekman-table {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.table-head {
    font-weight: bold;
}
.onhover {
    border-radius: 5px;
    width: 120px;
}
@media (max-width: 800px) {
    .ekman-table {
        margin-left: 0;
        grid-template-columns: repeat(2, min-content);
    }
    .onhover {
        width: 20vw !important;
    }
    .table-head {
        font-size: 0.8rem;
    }
}

.onhover:hover {
    background-color: coral;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

a.button7 {
    display:inline-block;
    padding:0.7em 1.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align:center;
    position:relative;
}
a.button7:active {
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
@media all and (max-width:30em) {
    a.button7 {
        display:block;
        margin:0.4em auto;
    }
}